@media only screen and (max-width: 600px){

#Velkommen{
  background: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
    text-align: center;
    opacity: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#tekstbox {
    background: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
    opacity: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
#body{
  background-color: gray;
  background-image: url('images/bark.jfif');
  background-size: cover ;
}
#billede1{
  width: 80%;
}

}